Werkzeug
pyOpenSSL
beautifulsoup4
oauth2client
gspread
mysqlclient
mysql-connector-python==8.0.29
PyGithub
markdown
wikipedia
careerjet_api
mecab-python3
unidic-lite
Jinja2
pytz
markdown-to-json
xmltodict
groq
markdown
tweepy